:root {
    --very-light-gray: hsl(0, 0%, 95%);
}

html, body {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.button-learn {
    background-color: var(--very-light-gray);
    padding: 1rem 2rem;
    border-radius: 25px;
    display: inline-block;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend Deca', Arial, sans-serif, Helvetica;
    font-weight: 400;
    background-color: var(--very-light-gray);
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 88vw;
    background-color: var(--very-light-gray)
    border-radius: 15px;
}

.card {
    padding: 3rem 3rem 0 2rem;
    height: 24rem;
}

.card:first-child {
    background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
} 

.first-card-title {
    font-family: 'Big Shoulders Display', Arial, sans-serif, Helvetica;
    font-weight: 700;
    font-size: 3rem;
    color: var(--very-light-gray);
}

.card-title {
    font-family: 'Big Shoulders Display', Arial, sans-serif, Helvetica;
    font-weight: 700;
    font-size: 3rem;
    color: var(--very-light-gray);
}

.card-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
}

.card .button-learn {
    margin-top: 1rem;
}

.card:first-child .button-learn {
    color: hsl(31, 77%, 52%);
}

.card:nth-child(2) .button-learn {
    color: hsl(184, 100%, 22%);
}

.card:nth-child(3) .button-learn {
    color: hsl(179, 100%, 13%);
}

.card .button-learn:hover {
    color: var(--very-light-gray);
    background: rgba(0, 0, 0, 0);
    border: 2px solid var(--very-light-gray);
}

@media (min-width: 69rem) {

     .main-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 98vh;
    }

}
